.main-style {
    font-family:'Times New Roman', Times, serif;
    line-height: 2.0;

    background-color: antiquewhite;
    color: rgb(25, 25, 25);
}

h1 {
    text-align: center;
    font-size: 36px;
    font-weight: 200;
    margin: 4px 0;
}

section > h2 {
    text-align: center;
    font-size: 25px;
    font-weight: bold;

}

section > li {
    padding-left: 4px;
    
}